In [1]:
import pyspark

In [2]:
pyspark.__file__

'/home/paul/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py'

In [3]:
pyspark.__version__

'3.3.2'

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/03 12:26:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/03 12:26:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-03-03 12:26:19--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.201.208, 52.217.32.150, 52.216.164.133, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.201.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-03-03 12:26:20 (64.9 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [7]:
!head taxi+_zone_lookup.csv

In [8]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [9]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [12]:
df.write.parquet('zones')

In [11]:
!ls -lh

total 718M
-rw-rw-r-- 1 paul paul 8.1K Feb 27 03:41 03_test.ipynb
-rw-rw-r-- 1 paul paul  21K Feb 27 04:17 04_pyspark.ipynb
-rw-rw-r-- 1 paul paul  27K Mar  2 11:38 05_taxi_schema.ipynb
-rw-rw-r-- 1 paul paul  11K Mar  2 12:28 06_spark_sql.ipynb
-rw-rw-r-- 1 paul paul 2.5K Jan 28 06:20 06_spark_sql.py
-rw-rw-r-- 1 paul paul 2.6K Jan 28 06:20 06_spark_sql_big_query.py
-rw-rw-r-- 1 paul paul  18K Mar  3 12:24 07_groupby_join.ipynb
-rw-rw-r-- 1 paul paul  12K Jan 28 06:20 08_rdds.ipynb
-rw-rw-r-- 1 paul paul 4.3K Jan 28 06:20 09_spark_gcs.ipynb
-rw-rw-r-- 1 paul paul 2.9K Jan 28 06:20 cloud.md
drwxrwxr-x 5 paul paul 4.0K Mar  2 12:28 data
-rwxrwxr-x 1 paul paul  596 Mar  2 11:23 download_data.sh
drwxr-xr-x 3 paul paul 4.0K Feb 27 04:15 fhvhv
-rw-rw-r-- 1 paul paul 718M Jul 14  2022 fhvhv_tripdata_2021-01.csv
-rw-rw-r-- 1 paul paul  62K Feb 27 04:03 head.csv
-rw-rw-r-- 1 paul paul  17K Jan 28 06:20 homework.ipynb
-rw-rw-r-- 1 paul paul  13K Aug 17  2016 taxi+_zone_lookup.csv
drwxrwxr-x 2 paul paul 4.0K Mar  3 12:25 zones