In [13]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark import SparkContext

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 06:12:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

<b>Question 1: \
Execute spark.version.</b>

In [7]:
spark.version

'3.3.2'

In [47]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-06 07:26:27--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T072627Z&X-Amz-Expires=300&X-Amz-Signature=1f0038be82f1e3989ae3027a87c4e296b04c81bb9d6d98b35af45553bc850278&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-06 07:26:27--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T072627Z&X-Amz-Expires=300&X-Amz-Signature=1f0038be82f1e3989ae3027a87c4e296b04c81bb9d6d98b35af45553bc850278&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  8.62MB/s    in 19s

2023-03-06 07:26:47 (8.76 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [50]:
!wc -l fhvhv_tripdata_2021-06.csv.gz

651315 fhvhv_tripdata_2021-06.csv.gz

In [51]:
!ls -lh fhvhv_tripdata_2021-06.csv

-rw-rw-r-- 1 paul paul 878M Dec 20 00:13 fhvhv_tripdata_2021-06.csv

In [55]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [57]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

df = df.repartition(12)

df.write.parquet('data/pq/fhvhv/2021/06/')

In [58]:
sc = SparkContext.getOrCreate()
parquet_dir = "data/pq/fhvhv/2021/06/"
rdd = sc.binaryFiles(parquet_dir)
num_files = rdd.count()

<b>Question 2: \
What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches?</b>

In [59]:
avg_size = rdd.map(lambda x: len(x[1])).reduce(lambda x, y: x + y) / (num_files * 1024 * 1024)
print("Average size:", avg_size, "MB")

Average size: 22.549726963043213 MB

In [60]:
df = spark.read.parquet('data/pq/fhvhv/2021/06/')

In [61]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02617|2021-06-04 16:50:34|2021-06-04 17:01:18|         118|         109|      N|                B02617|
|              B02875|2021-06-02 22:28:45|2021-06-02 22:37:28|         163|          79|      N|                B02875|
|              B02871|2021-06-03 11:47:48|2021-06-03 11:52:23|         231|          13|      N|                B02871|
|              B02888|2021-06-03 08:45:25|2021-06-03 09:00:12|           9|          92|      N|                B02888|
|              B02510|2021-06-05 09:50:43|2021-06-05 10:06:53|          14|         133|      N|                  null|
|              B02764|2021-06-03 22:55:50|2021-06-03 23:21:24|         152|          74|      N|                B02764|
|              B02889|2021-06-02 03:15:48|2021-06-02 03:26:20|         220|         235|      N|                B02889|
|              B02872|2021-06-01 11:50:42|2021-06-01 12:00:36|         162|         161|      N|                B02872|
|              B02510|2021-06-04 06:51:45|2021-06-04 06:56:26|         206|         206|      N|                  null|
|              B02835|2021-06-02 01:21:31|2021-06-02 01:50:23|          49|         182|      N|                B02835|
|              B02510|2021-06-02 17:11:31|2021-06-02 18:18:32|         236|          89|      N|                  null|
|              B02869|2021-06-01 18:48:20|2021-06-01 18:54:59|         151|          43|      N|                B02869|
|              B02510|2021-06-02 16:16:53|2021-06-02 16:39:03|         181|         189|      N|                  null|
|              B02510|2021-06-03 21:23:35|2021-06-03 21:33:33|         181|          89|      N|                  null|
|              B02764|2021-06-01 06:51:24|2021-06-01 06:58:09|          86|          86|      N|                B02764|
|              B02867|2021-06-04 18:26:09|2021-06-04 18:41:43|         162|         263|      N|                B02867|
|              B02510|2021-06-01 10:21:49|2021-06-01 11:08:24|         151|          17|      N|                  null|
|              B02682|2021-06-04 01:45:17|2021-06-04 01:53:16|         125|         164|      N|                B02682|
|              B02875|2021-06-01 14:06:42|2021-06-01 14:33:53|         192|           7|      N|                B02875|
|              B02510|2021-06-03 21:15:15|2021-06-03 21:21:24|         171|          16|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

**Q3**: <b>How many taxi trips were there on February 15? </b>

In [62]:
from pyspark.sql import functions as F

In [63]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2021-06-15'") \
    .count()

452470

In [64]:
df.registerTempTable('fhvhv_2021_06')

In [65]:
spark.sql("""
SELECT
    COUNT(1)
FROM 
    fhvhv_2021_06
WHERE
    to_date(pickup_datetime) = '2021-06-15 00:00:00';
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

**Q4**: <b>Longest trip for each day \
Now calculate the duration for each trip.
How long was the longest trip in Hours?</b>

In [66]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [71]:
from pyspark.sql.functions import col, max, round, to_date

In [78]:
df \
    .withColumn('duration', ((col('dropoff_datetime').cast('long') - col('pickup_datetime').cast('long')) / 60)/60) \
    .withColumn('pickup_date', to_date(col('pickup_datetime'))) \
    .groupBy('pickup_date') \
        .max('duration') \
    .withColumn('max_duration_rounded', round(col('max(duration)'), 2)) \
    .orderBy('max_duration_rounded', ascending=False) \
    .limit(5) \
    .show()

+-----------+------------------+--------------------+
|pickup_date|     max(duration)|max_duration_rounded|
+-----------+------------------+--------------------+
| 2021-06-25| 66.87888888888888|               66.88|
| 2021-06-22|25.549722222222222|               25.55|
| 2021-06-27|19.980833333333333|               19.98|
| 2021-06-26| 18.19722222222222|                18.2|
| 2021-06-23|16.466944444444444|               16.47|
+-----------+------------------+--------------------+

In [79]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX(((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 60)/60) AS duration
FROM 
    fhvhv_2021_06
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+------------------+
|pickup_date|          duration|
+-----------+------------------+
| 2021-06-25| 66.87888888888888|
| 2021-06-22|25.549722222222222|
| 2021-06-27|19.980833333333333|
| 2021-06-26| 18.19722222222222|
| 2021-06-23|16.466944444444444|
| 2021-06-24|13.909722222222223|
| 2021-06-04|             11.67|
| 2021-06-20|10.984444444444446|
| 2021-06-01|           10.2675|
| 2021-06-28|  9.96638888888889|
+-----------+------------------+

**Q5**: User Interface

<b>Spark’s User Interface which shows application's dashboard runs on which local port?</b>

Answer: <b>4040</b>

**Q6**: <b>Most frequent pickup location zone.</b> \
<b>Using the zone lookup data and the fhvhv June 2021 data, what is the name of the most frequent pickup location zone?</b>

In [80]:
df_zones = spark.read.parquet('zones')

In [81]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [85]:
df_zones.take(3)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone')]

In [86]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [87]:
df_zones.registerTempTable('zones')

In [92]:
spark.sql("""
SELECT
    CONCAT(pul.Zone) AS pu_loc,
    COUNT(1)
FROM 
    fhvhv_2021_06 fhv INNER JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      
GROUP BY 
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+-------------------+--------+
|             pu_loc|count(1)|
+-------------------+--------+
|Crown Heights North|  231279|
|       East Village|  221244|
|        JFK Airport|  188867|
|     Bushwick South|  187929|
|      East New York|  186780|
+-------------------+--------+

<b>Answer: Crown Heights North</b>